// COLORS //
$blueberry: #354093;
$cloudy-blue: #a6d9e2;
$pale-grey: #e9ebf7;
$greyish-brown: #4d4d4d;
$black: #333333;

// SPACING //
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 1.75rem;
$spacing-xxl-2: 2rem;