* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Regular), url(/path/to/HelveticaNeue-Regular.woff2) format("woff2"), url(/path/to/HelveticaNeue-Regular.woff) format("woff"), url(/path/to/HelveticaNeue-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Medium), url(/path/to/HelveticaNeue-Medium.woff2) format("woff2"), url(/path/to/HelveticaNeue-Medium.woff) format("woff"), url(/path/to/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Bold), url(/path/to/HelveticaNeue-Bold.woff2) format("woff2"), url(/path/to/HelveticaNeue-Bold.woff) format("woff"), url(/path/to/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
html {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.topbar__container {
  width: 100%;
}
.topbar__container .topbar__content {
  padding-top: 1.5rem;
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
.topbar__container .topbar__content .logo {
  width: 60px;
  object-fit: contain;
}
.topbar__container .topbar__content .logo.desktop {
  display: none;
}

.main {
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
.main .img__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .img__content .faq__img {
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 3) + ((3 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 3) + ((3 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
.main .faq__content {
  padding-top: 1.75rem;
}

.block__question {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
}
.block__question .fa-plus {
  font-size: 1rem;
  color: #e9ebf7;
  padding-right: 1rem;
}
.block__question .question {
  line-height: 1.5rem;
}

/*# sourceMappingURL=stylos.css.map */
