* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Regular), url(/path/to/HelveticaNeue-Regular.woff2) format("woff2"), url(/path/to/HelveticaNeue-Regular.woff) format("woff"), url(/path/to/HelveticaNeue-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Medium), url(/path/to/HelveticaNeue-Medium.woff2) format("woff2"), url(/path/to/HelveticaNeue-Medium.woff) format("woff"), url(/path/to/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Bold), url(/path/to/HelveticaNeue-Bold.woff2) format("woff2"), url(/path/to/HelveticaNeue-Bold.woff) format("woff"), url(/path/to/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
html {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.topbar__container {
  width: 100%;
}
.topbar__container .topbar__content {
  padding-top: 1.5rem;
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
.topbar__container .topbar__content .logo {
  width: 60px;
  object-fit: contain;
}
.topbar__container .topbar__content .logo.desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .topbar__container .topbar__content {
    width: calc( ((((100vw - 96px) - ((8 - 1) * 16px)) / 8 ) * 8) + ((8 - 1) * 16px) );
    max-width: calc( ((((1600px - 96px) - ((8 - 1) * 16px)) / 8 ) * 8) + ((8 - 1) * 16px) );
  }
  .topbar__container .topbar__content .logo {
    display: none;
  }
  .topbar__container .topbar__content .logo.desktop {
    display: block;
    width: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .topbar__container .topbar__content {
    width: calc( ((((100vw - 134px) - ((12 - 1) * 16px)) / 12 ) * 12) + ((12 - 1) * 16px) );
    max-width: calc( ((((1600px - 134px) - ((12 - 1) * 16px)) / 12 ) * 12) + ((12 - 1) * 16px) );
  }
}

.main {
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 4) + ((4 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .main {
    width: calc( ((((100vw - 96px) - ((8 - 1) * 16px)) / 8 ) * 8) + ((8 - 1) * 16px) );
    max-width: calc( ((((1600px - 96px) - ((8 - 1) * 16px)) / 8 ) * 8) + ((8 - 1) * 16px) );
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    width: calc( ((((100vw - 134px) - ((12 - 1) * 16px)) / 12 ) * 12) + ((12 - 1) * 16px) );
    max-width: calc( ((((1600px - 134px) - ((12 - 1) * 16px)) / 12 ) * 12) + ((12 - 1) * 16px) );
    height: calc(100vh - 78.23px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) and (min-width: 1200px) {
  .main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.main .img__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .img__content .faq__img {
  width: calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * 3) + ((3 - 1) * 16px) );
  max-width: calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * 3) + ((3 - 1) * 16px) );
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .main .img__content .faq__img {
    width: calc( ((((100vw - 96px) - ((8 - 1) * 16px)) / 8 ) * 4) + ((4 - 1) * 16px) );
    max-width: calc( ((((1600px - 96px) - ((8 - 1) * 16px)) / 8 ) * 4) + ((4 - 1) * 16px) );
  }
}
@media only screen and (min-width: 1200px) {
  .main .img__content .faq__img {
    width: calc( ((((100vw - 134px) - ((12 - 1) * 16px)) / 12 ) * 4) + ((4 - 1) * 16px) );
    max-width: calc( ((((1600px - 134px) - ((12 - 1) * 16px)) / 12 ) * 4) + ((4 - 1) * 16px) );
  }
}
.main .faq__content {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main .faq__content {
    width: calc( ((((100vw - 96px) - ((8 - 1) * 16px)) / 8 ) * 6) + ((6 - 1) * 16px) );
    max-width: calc( ((((1600px - 96px) - ((8 - 1) * 16px)) / 8 ) * 6) + ((6 - 1) * 16px) );
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .main .faq__content {
    width: calc( ((((100vw - 134px) - ((12 - 1) * 16px)) / 12 ) * 6) + ((6 - 1) * 16px) );
    max-width: calc( ((((1600px - 134px) - ((12 - 1) * 16px)) / 12 ) * 6) + ((6 - 1) * 16px) );
  }
}
.main .faq__content .title {
  padding: 1.75rem 0;
  font-family: HelveticaNeue;
  font-size: 1.625rem;
  font-weight: bold;
  color: #354093;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .main .faq__content .title {
    font-family: HelveticaNeue;
    font-size: 2.125rem;
    font-weight: bold;
    color: #354093;
    text-align: left;
  }
}

.block__question {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
}
.block__question .fa-plus {
  font-size: 1rem;
  color: #e9ebf7;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}
.block__question .question {
  width: 100%;
  font-family: HelveticaNeue;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  transition: color 0.3s ease-in-out;
}
@media (hover: hover) {
  .block__question .question:hover {
    color: #354093;
  }
}
.block__question.active .fa-plus {
  color: #354093;
  transform: rotate(45deg);
}
.block__question.active .question {
  color: #354093;
}

.block__answer {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.block__answer.active {
  display: block;
  max-height: auto;
  margin-bottom: 0.75rem;
  border-top: 1px solid #e9ebf7;
  border-bottom: 1px solid #e9ebf7;
}
.block__answer .answer {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #4d4d4d;
  padding: 1.5rem;
}

/*# sourceMappingURL=stylos.css.map */
