@mixin col-lg($n : 1) {
    @if $n <= 12 {
        width:  calc( ((((100vw - 134px) - ((12 - 1) * 16px)) / 12 ) * #{$n}) + ((#{$n} - 1) * 16px) );
        max-width:  calc( ((((1600px - 134px) - ((12 - 1) * 16px)) / 12 ) * #{$n}) + ((#{$n} - 1) * 16px) );
    }
}
@mixin col-md($n : 1) {
    @if $n <= 8 {
        width:  calc( ((((100vw - 96px) - ((8 - 1) * 16px)) / 8 ) * #{$n}) + ((#{$n} - 1) * 16px) );
        max-width:  calc( ((((1600px - 96px) - ((8 - 1) * 16px)) / 8 ) * #{$n}) + ((#{$n} - 1) * 16px) );
    }
}
@mixin col-sm($n : 1) {
    @if $n <= 4 {
        width:  calc( ((((100vw - 32px) - ((4 - 1) * 16px)) / 4 ) * #{$n}) + ((#{$n} - 1) * 16px) );
        max-width:  calc( ((((1600px - 32px) - ((4 - 1) * 16px)) / 4 ) * #{$n}) + ((#{$n} - 1) * 16px) );
    }
}