/// COLORS ///
$light-chrome-red: #ffe0e3;
$chrome-red :#cc2031;
$orange : #fa821e;
$yellow:#fac814;
$green: #3cbeaa;
$blue: #0a1e3c;
$light-blue: #8cd2e6;
$white : #ffffff;
$black-90: #191919;

///// SPACING /////
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.5rem;
$spacing-xxl-2: 3rem;

///// FONT-SIZE /////
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$font-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.5rem;
$spacing-xxl-2: 3rem;
